.HomeMain{
}
.searchWrapper{
    width: fit-content;
    margin: 10px auto;
    position: relative;

}
.searchWrapper input{
    padding: 12px;
    width: 400px;
    font-size: 18px;


}
.searchIcon{
    position: absolute;
    right: 5px;
    top:  12px;
    font-size: 24px;
    cursor: pointer;
    

}
.searchText{
    margin: auto;
    display: block;
    width: fit-content;
    font-size: 26px;
}
.productsWrapper{
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}